<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${session.lang}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout.html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>개인정보 변경</title>
</head>

<body layout:fragment="content">
	<form id="memberupdateform" name="formname" action="memberUpdateSave"
		method="POST">
		<div class="ui grid main">
			<div class="ui grid sixteen wide column">
				<p style="text-align:center;font-size:20px;font-family:'돋움';font-weight:bold" >개인정보 변경
			</div>
			
			
			<div class = "ui grid five wide column"></div>
			
			<div class = "ui grid seven wide column memin" align="center">
				<div class = "fluid ui labeled input" >
					<div class = "ui label">
						<label>이메일</label>
					</div>
					<input  type ="email" name = "email" id ="email" th:value ="${row.email}" readonly>
				</div>
				<div class = "fluid ui labeled input">
					<div class = "ui label">
					<label>이름</label></div>
					<input type = "text" name = "name" id ="name" th:value = "${row.name}" readonly>
				</div>
				<div class = "fluid ui labeled input">
					<div class = "ui label">
					<label>생년월일</label></div>
					<input type = "text" name = "birth" id ="birth" th:value = "${row.birth}"  readonly>
				</div>
				<div class = "fluid ui labeled input">
					<div class = "ui label">
					<label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp패스워드&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
					</div>
					<input type = "password" name = "password" id ="password" placeholder = "비밀번호를 입력하세요" required>
					<button class="ui button" id="pwshow" type="button">비밀번호 보이기</button>
					<button class="ui button" id="pwhide" type="button" style="display:none">비밀번호 숨기기</button>
				</div>
				<div class = "fluid ui labeled input">
					<div class = "ui label">
					<label>패스워드 체크</label>
					</div>
					<input type = "password" name = "passwordchk" id ="passwordchk" placeholder = "비밀번호를 다시 입력하시오" required>
					<i class="big green checkmark icon" id="pwsame" style="display:none"></i>
					<i class="big red cancel icon" id="pwdifferent" style="display:none"></i>
				</div>
				<div class = "fluid ui labeled input">
					<div class = "ui label">
					<label>연락처</label></div>
					<input type = "text" name = "phone1" id ="phone1"th:value = "${row.phone1}" >
					<input type = "text" name = "phone2" id ="phone2"th:value = "${row.phone2}" >
					<input type = "text" name = "phone3" id ="phone3"th:value = "${row.phone3}" >
				</div>
				<div class = "fluid ui labeled input">
					<div class = "ui label">
					<label>우편번호</label></div>
					<input type = "text" name = "zipcode" id ="zipcode" required readonly th:value="${row.zipcode}">
				</div>
				<div class = "fluid ui labeled input">
					<div class = "ui label">
					<label>주소</label></div>
					<input type = "text" name = "address" id ="addr1" required th:value="${row.address}">
					<button type="button" name="" class="ui gray button adrrconfirm" onclick="zipcodeFind()">
					<i class="search icon"></i></button>
				</div>
				<div class = "fluid ui labeled input">
					<div class = "ui label">
					<label>상세주소</label></div>
					<input type = "text" name = "detailaddress" id ="addr2" required th:value="${row.detailaddress}">
				</div>
				<div>
				<button class="ui inverted green button" type ="submit">변경하기</button>
				<button class="ui inverted red button" onclick="location.href='index'">취소</button>
				
				</div>	
			</div>
			<div class = "ui grid five wide column"></div>
		</div>
	</form>
</body>
</html>


