<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${session.lang}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout.html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>회원가입</title>
</head>

<body layout:fragment="content">
	<form id="memberinsertform" name="formname" action="memberInsertSave"
		method="POST">
		<div class="ui grid main">
			<input type="hidden" class="confirmyn" value="n">
		<div id = "memberinsertmain">
			<div class = "memberinserttitle">
				<h2>회원가입</h2>
			</div>
			<div id= "memberinsertdiv">
				<table class = "memberinserttable">
					<tbody>
						<tr>
							<th>이메일</th>
							<td>
								<input  type = "email" name = "email" id ="email"placeholder = "E-mail" maxlength="20"required>
								<button type="button" name="" class="doublecheck" id = >중복확인</button>
							</td>
						</tr>
						<tr>
							<th>이름</th>
							<td>
								<input type = "text" name = "name" id ="name"placeholder = "이름"maxlength="3" onclick="doublecheck();" required>
							</td>
						</tr>
						<tr>
							<th>비밀번호</th>
							<td>
								<input type = "password" name = "password" id ="password" placeholder = "비밀번호를" required>
								<button  id="pwshow" type="button">비밀번호 보이기</button>
								<button  id="pwhide" type="button" style="display:none">비밀번호 숨기기</button>
							</td>
						</tr>
						<tr>
							<th>비밀번호 체크</th>
							<td>
								<input type = "password" name = "passwordchk" id ="passwordchk" placeholder = "비밀번호를 확인" required>
								<span id="pwsame" style="display:none;color:green;font-size:11px;">패스워드가 일치합니다</span>
								<span id="pwdifferent" style="display:none;color:red;font-size:11px;">패스워드가 다릅니다</span>
							</td>
						</tr>
						<tr>
							<th>연락처</th>
							<td>
								<input type = "text" name = "phone1" id ="phone1"maxlength="3" placeholder="010" required>-
								<input type = "text" name = "phone2" id ="phone2"maxlength="4" placeholder="0000" required>-
								<input type = "text" name = "phone3" id ="phone3"maxlength="4" placeholder="0000" required>
							</td>
						</tr>
						<tr>
							<th>주소</th>
							<td>
								<input type = "text" name = "zipcode" id ="zipcode" required readonly>
								<button type="button" name="" class="adrrconfirm" onclick="zipcodeFind()">
								주소찾기</button><br>
								<input type = "text" name = "address" id ="addr1" required><br>
								<input type = "text" name = "detailaddress" id ="addr2" required>
							</td>
						</tr>
						<tr>
							<th>생년월일</th>
							<td>
								<input type = "text" name = "birth" id ="birth" maxlength="6" placeholder="960206" required>-
								<input type = "text" name = "gender" id ="gender" maxlength="1" placeholder="1"  class = "Signup" required>
							</td>
						</tr>
						<tr>
							<td colspan = "2" align = "right">
								<button class="ui inverted green button" type ="button" id="memberInsert">가입하기</button>
								<button class="ui inverted red button" onclick="location.href='index'">취소</button>
							<td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
			<div class="ui mini modal" >
				<i class="close icon"></i>
				<div class="header">Email 중복검사</div>
					<i class="envelope icon" id = "emailicon"></i>
					<div class="description">
						<div class="ui header"></div>
					</div>
				
				<div class="actions">
					
					<div class="ui positive right labeled icon button">
						확인 <i class="checkmark icon"></i>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>


