<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${session.lang}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout.html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>마이페이지</title>
</head>

<body layout:fragment="content">
	<form id="memberpageform" name="formname" action="memberpage"
		method="POST">
		<div class="ui grid main">
		<div class = "ui grid sixteen wide column">
		<p style = "text-align:center; font-size:35px; font-family:'돋움'; font-weight:bold">마이 페이지</div>
			<div class ="ui grid two wide column"></div>
			<div class ="ui grid twelve wide column">
				<div class = "myInfo">
					<div class = "myInfo_inside1">
							<div class ="myInfo_inside3">
								<p class = "myInfo_text">
									<strong th:text = "${data.name}"></strong>님 안녕하세요
								<p class = "myInfo_text2">신선한 재료만 쓰는SELECT SALAD입니다<p>
								<p class = "myInfo_text">
								<button type="button" class= "btn btnmargin btnblack btnstyle" onclick="location.href='memberUpdate'">
								<span>개인정보 변경</span></button>
							</div>
							
					</div>
					<div class = "myInfo_inside2">
						<dl class = "myInfo_pointtext">
							<dt id = "dtid">포인트</dt>
								<dd id = "pointimage">
									<div id ="pointText">
										<span th:text = "${data.point}"></span>
									</div>
						</dl>
					</div>
					<div class = "myInfo_inside4">
						<div class = "myInfo_order">
							<div id="orlist">주문내역</div>
								<table id = "ordertable" style = "width:100%;">
									<thead id="orderhead">
										<tr>
											<th id = "thborder">주문날짜</th>
											<th id = "thborder">금액</th>
											<th id = "thborder">주문상태</th>
											<th><button class="ui olive button" id = "sldjfrnf">상세보기</button></th>
										</tr>
									</thead>
									<tbody id = "orderbody">
										<tr class = "orderbodyclass"  th:each="order:${orders}">
											<td id = "tdborder" th:text ="${order.date}" style = "width:150px; height:60px;"></td>
											<td id = "tdborder" th:text ="${order.totprice}" style = "width:150px;"></td>
											<td id = "tdborder" th:if="${order.orderconfirm == 0}" style = "width:150px;">주문처리전</td>
											<td id = "tdborder" th:if="${order.orderconfirm == 1}" style = "width:150px;">주문확인</td>
											<td id = "tdborder" th:if="${order.orderconfirm == 2}" style = "width:150px; height:40px;">주문거절</td>
											<td><button class="ui yellow button">주문취소</button></td>
										</tr>
									</tbody>
								</table>
						</div>
					</div>
				</div>
			</div>
			<div class ="ui grid two wide column"></div>
		</div>
		<div class="ui basic modal orderdetails">
         <div class="ui icon header">
            <i class="archive icon"></i> 상세 주문내역
         </div>
         <div class="content" >
         <div class = "fluid ui labeled input" id ="orderdetailsmodal" >
         </div>
         </div>
         <div class="actions">
            <div class="ui red basic cancel inverted button">
               <i class="remove icon"></i> 취소
            </div>
         </div>
      </div>
	</form>
</body>
</html>


