<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org" th:lang="${session.lang}"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorator="layout/layout.html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>LOGIN</title>
<script>

</script>

</head>

<body layout:fragment="content">
   <form id="memberLoginform" name="formname" action="memberLoginUP"
      method="POST">
      <div class="ui grid main">
         <div class="loginAll">
            <p id="top">로그인
            <div class="fluid ui labeled input loginface">
               <input type="email" name="email" id="loginemail"
                  placeholder="E-mail을 입력하세요" required>
            </div>
            <div class="fluid ui labeled input loginface">
               <input type="password" name="password" id="loginpassword"
                  placeholder="비밀번호를 입력하세요" required>
            </div>

            <div class="buttoncss">
               <button class="ui inverted green button" id="loginbtn"
                  type="submit">로그인</button>
            </div>
   
            <div class="subtitle">
               <a href="memberInsert" id="loginpageinsert"><span>회원가입</span></a> 
               <a style= "cursor:pointer" class = "idfinder"  id="IDfind"><span>아이디찾기</span></a>
               <a style= "cursor:pointer" id="Passwordfind">
               		<span onclick="window.open('passwordFind', '', 'top=50, left=600, width=500, height=700,toolbar=no')">비밀번호찾기</span>
               </a>
            </div>
         </div>
   
      </div>
   </form>
   
   <!--       ===============================아이디찾기 모달================================== -->
      <div class="ui basic modal first">
         <div class="ui icon header">
            <i class="archive icon"></i> 아이디찾기
         </div>
         <div class="content" >
            <div class = "fluid ui labeled input" id ="findmodal" >
               <input type = "text"id ="name"placeholder = "이름을 입력하세요" required>
            </div>
            <div class = "fluid ui labeled input" id ="findmodal">
               <input type = "text" class = "birth" id ="birth" maxlength="6" placeholder="960206" required>-
               <input type = "text" id ="gender" maxlength="1" placeholder="1"  class = "Signup findgender" required>
            </div>
         </div>
         <div class="actions">
            <div class="ui green ok inverted button" id = "Idfindclick">
               <i class="checkmark icon" ></i>아이디 찾기
            </div>
            <div class="ui red basic cancel inverted button">
               <i class="remove icon"></i> 취소
            </div>
         </div>
      </div>
      
<!--       ================================아이디찾기 두번째모달================================= -->
      
      <div class="ui mini modal second" >
         <div class="ui icon header">
            <i class="archive icon"></i> 아이디
         </div>
         <div class="content" id ="idfinddes">
            <div class = "description">
            </div>
         </div>
         <div class="actions">
            <div class="ui green ok inverted button">
               <i class="remove icon"></i>확인
            </div>
         </div>
      </div>
</body>
</html>