<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:lang="${session.lang}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout.html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>LOGIN</title>
<script>

</script>

</head>

<body layout:fragment="content">
	<form id="memberLoginform" name="formname" action="memberLoginUP"
		method="POST">
		<div class="ui grid main">
			<input type="hidden" class="confirmyn" value="n">
			<div class="ui grid sixteen wide column">
				<p style="text-align:center;font-size:20px;font-family:'돋움';font-weight:bold" >로그인 실패
			</div>
			
			
			<div class = "ui grid five wide column"></div>
			
			<div class = "ui grid seven wide column memin" align="center">
				<div class = "fluid ui labeled input" >
					<div class = "ui label">
						<label>이메일</label>
					</div>
					<input  type = "email" name = "email" id ="email"placeholder = "이메일을 입력하세요"required>
				</div>
				<div class = "fluid ui labeled input">
					<div class = "ui label">
					<label>패스워드</label></div>
					<input type = "password" name = "password" id ="password"placeholder = "비밀번호를 입력하세요" required>
				</div>
				<div>
				<button class="ui inverted green button" type ="button" id ="loginbtn">로그인</button>
				<button type="button" class="ui button active" onclick="location.href='memberInsert' ">
						회원가입</button>
				<button class="ui inverted red button" onclick="location.href='index'">취소</button>
				
				</div>	
			</div>
			<div class = "ui grid five wide column"></div>
		</div>
	</form>
</body>
</html>