<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org" th:lang="${session.lang}"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>PW Find</title>

<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/member.css">
<link rel="stylesheet" href="/css/content.css">
<link rel="stylesheet" href="/css/admin.css">
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/order.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<!-- Semantic UI CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.jqueryui.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/scroller/2.0.3/css/scroller.jqueryui.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/dropdown.js"></script>  
<script src="/js/jquery.datatables.min.js"></script>  
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.jqueryui.min.js"></script>  
<script src="https://cdn.datatables.net/scroller/2.0.3/js/dataTables.scroller.min.js"></script>
<script src="https://cdn.tiny.cloud/1/53roo57v5rb8bmj0ek2cr3biu5ba5tiz6ldhr69s3tes0lq8/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>  
<script src="/js/semantic.js"></script> 
<script src="/js/jquery.validate.js"></script>
<script src="/js/member.js"></script>
<script src="/js/board.js"></script>
<script src="/js/order.js"></script>
<script src="/js/admin.js"></script>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>  

</head>

<body>
	<form id="passwordFindForm" action="passwordChangeUP" method="POST">
		<div class="ui icon header" style="margin-top:150px;margin-left:195px">
			<i class="archive icon"></i> 비밀번호 변경
		</div>
		<div class = "descripntion2" id ="findmodal" style="margin-left:50px;width:400px">
			<div class = "fluid ui labeled input" id="newPwdInsert1">
                <input type = "password" class= "newpassword" id ="newpassword" style="width:40%" placeholder = "비밀번호를 입력하세요" required>
                <input type = "hidden" id="email" th:value="${email}">
			</div>
		</div>
		
		<div>
			<div class = "fluid ui labeled input" id="newPwdInsert2" style="margin-left:50px;width:400px">
				<input type = "password"  id ="newpasswordchk"style="width:35%" placeholder = "비밀번호를 다시 입력하시오" required>
				<i class="green big checkmark icon" id="newPwsame" style="display:none"></i>
				<i class="red big cancel icon" id="newPwdifferent" style="display:none"></i>
			</div>
		</div>
		
		<div class="actions" style="margin-top:50px;margin-left:150px; width:400px">
			<div class="ui green ok inverted button" id="passwordChangeClick">
               <i class="checkmark icon" ></i>확인
            </div>
            <button class="ui red cancel inverted button">
               <i class="remove icon"></i>취소
            </button>
		</div>
	</form>
</body>
</html>