#memberinsertmain{
	
    width: 1200px;
    margin: 0 auto;
    
}
#memberinsertdiv{
	table-layout: fixed;
    border: 1px solid #d7d5d5;
    line-height: 180%;
    margin: 0;
    padding: 0;
}
.memberinserttitle{
	margin: 0 0 20px;
    padding: 0 0 15px;
    border-bottom: 1px solid #e8e8e8;
    font-size: 0;
    min-height: auto;
}
.memberinserttitle>h2{
	display: inline-block;
    padding: 0 10px 0 0;
    color: #323232;
    font-size: 20px;
    line-height: 34px;
    *display: inline;
    *zoom: 1;
    background: none;
}

.description{
	font-size:15px;
	font-weight:bold;
	text-align:center;
	margin:20px 0 20px 0;
}

#emailicon{
	display: flex;
    flex-direction: column;
    height: 100%; 
	margin: 0 auto;
}

.memberinserttable>tbody>tr>td{
	width: auto;
    padding: 10px 0 8px 10px;
    border-top: 1px solid #e8e8e8;
}
.memberinserttable>tbody>tr>th{
	width: 130px;
    padding: 10px 0 8px 20px;
    border-top: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    background-color: #fbfafa;
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
.memberinserttable>tbody>tr>td>input{
	padding: 4px;
    border: 1px solid #d9d9d9;
    color: #202020;
    font-size: 12px;
    outline: medium none;
}
    
#zipcode{
	width:80px;
}
#addr1{
	width:220px;
}
#addr2{
	width:250px;
}


.myInfo{
	position:relative;
	margin-bottom:20px;
	padding: 24px 33px;
}
.myInfo_inside1{
	float: left;
    width: 550px;
    height: 169px;
    padding: 24px 33px;
    background-color: #f8f8f8;
}
.myInfo_inside3{
	float:left;
	margin-bottom: 29px;
    padding-left: 118px;
    background-size: 85px 97px;
}
.aobox{
	position: relative;
}
.myInfo_inside4{
	float:left;
	width:550px;
	margin-top:10px;
    padding: 24px 33px;
    background-color: #f8f8f8;
}
.myInfo_inside7{
	background-color:#fff;
	float: left;
    width: 400px;
    height: 169px;
    margin-left:10px;
    margin-top:20px;
    padding-top: 22px;
    font-family: "NanumSquareOTFR";
    text-align: center;
    border: 3px solid red;
    color: red;
	
}
.myInfo_text{
	padding:10px 0 10px;
	color:#111;
	font-family: "µ¸¿ò";
    font-size: 20px;
    margin:10px 0 0 0 !important;
}
.myInfo_text2{
	margin-bottom:10px;
    color: #666;
    font-size: 16px;
    font-family: 'µ¸¿ò';
    white-space: nowrap;
	
}
.btn{
	position: relative;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    opacity: 1;
}

#memberlevelimage{
	float:left;
	width:40px;
	
}
.box{
	float:left;
	width: 115px;
	margin: 0 30px;
	position: relative;
	
}
.back{
	position:absolute;
	top:0;
	left:0;
}
.front{
	position:absolute;
	top:47px;
	left:20px;
	height:60px; 
	width:60px;
	
}
.front2{
	position:absolute;
	top:47px;
	left:80px;
	height:60px; 
	width:60px;
	
	
}
.front3{
	position:absolute;
	top:47px;
	left:140px;
	height:60px; 
	width:63px;
	
}
.front4{
	position:absolute;
	top:47px;
	left:200px;
	height:60px; 
	width:60px;
}
.front5{
	position:absolute;
	top:47px;
	left:260px;
	height:60px; 
	width:60px;
}
.front6{
	position:absolute;
	top:110px;
	left:20px;;
	height:60px; 
	width:60px;
}
.front7{
	position:absolute;
	top:110px;
	left:80px;
	height:60px; 
	width:60px;
}
.front8{
	position:absolute;
	top:110px;
	left:140px;
	height:60px; 
	width:60px;
}
.front9{
	position:absolute;
	top:110px;
	left:200px;
	height:60px; 
	width:60px;
}
.front10{
	position:absolute;
	top:110px;
	left:260px;
	height:60px; 
	width:60px;
}


.btnmargin{
	margin-left:160px !important;
}
.btnblack{
	color: #ffffff !important;
    border: 1px solid #333333;
    background-color: #333333;
}
.btnstyle{
	height: 36px;
    padding: 0 22px;
    font-family: "NanumSquareOTFR";
    font-size: 14px;
    line-height: 34px;
    border-radius: 3px;
}
.myInfo>p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.listbtnmargin{
	margin-top:5px !important;
	margin-right:5px !important;
	
}

.listbtn{
	position: relative;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    opacity: 1;
}
.listbtnblack{
	color: #ffffff !important;
    border: 1px solid #333333;
    background-color: #333333;
}
.lsitbtnstyle{
	height: 36px;
    padding: 0 22px;
    font-family: "NanumSquareOTFR";
    font-size: 14px;
    line-height: 34px;
    border-radius: 3px;
}

#memberlevel {
	width:40px;
}

#successmsg{
	display:none;
	width:200px;
	margin:0 auto;
}
div {
    display: block;
}
#pointimage{
	padding-top: 65px;
}

#pointText{
	font-family: "NanumSquareOTFR";
    font-size: 26px;
}

.myInfo_inside2{
	background-color:#fff;
	float: left;
    width: 205px;
    height: 169px;
    margin-left: 10px;
    padding-top: 22px;
    font-family: "NanumSquareOTFR";
    text-align: center;
    border: 1px solid #ffa800;
    color: #ffa800;
}

#dtid{
	margin-bottom: 10px;
    font-family: "NanumSquareOTFR";
    font-size: 20px;
	
}
#viewdetails:hover{
	cursor:pointer;
	border: 0;
	color: #fff;
	width: 80px;
	height:30px;
	background-color:#ffa800;
}
#viewdetails{
	cursor:pointer;
	border: 0;
	color: #fff;
	width: 80px;
	height:30px;
	background-color:#73BC2D;
}
#buttonorder{
	padding-left:10px;
	padding-right:10px;
}
.myInfo_inside6{
	float: left;
}

#memberfind{
	padding:8px 4px 0 78%;
}


#tlqkffjadk{
	max-width:50px;
	text-overflow:ellipsis;
	white-space:nowrap;
	
}


