#orlist{
    font-family: "NanumSquareOTFR";
    color: #333;
    font-size: 35px;
}

table{width: 100%;
    border: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
}

colgroup{
	display: table-column-group;
}
    
    
caption {
    display: table-caption;
    text-align: -webkit-center;
}
#ordertable{
	border-top:2px solid #111;
	margin-top:10px;
	border-width:100%;
	

}
#orderbody>tr>#tdborder{
	border-right:3mm solid #ffffff;
}

#orderhead{
	font-size:16px;
	border-bottom:2px solid #111;
}
#orderhead>tr>#thborder{
	border-right:3mm solid #ffffff;
}
#orderhead>tr>th{
	height:50px;
	font-family: 'NanumSquareOTFR';
}
#orderbody{
	font-size:14.5px;
	text-align:center;
}




